<div class="formcompra">
    <div class="applepay"><button><i class="fab fa-apple-pay"></i></button></div>
    <div class="tarjetadiv"><p>O paga con tarjeta</p></div>
    <div class="formulario">
        <form [formGroup]="forma">
            
            <div class="correoform"><label for="email">Correo electrónico</label><input [ngClass]="{'f1':true,'error':primererror && this.forma.controls.email.invalid}" type="text" formControlName="email"></div>

            <div class="tarjetaform">
                <label for="ncard">Datos bancarios</label><input [ngClass]="{'ncard f2':true,'error':primererror && this.forma.controls.ncard.invalid}" type="number" formControlName="ncard" placeholder="número de tarjeta">
                <input type="number" [ngClass]="{'sub nmye f3':true,'error':primererror && this.forma.controls.monthyearexp.invalid}" formControlName="monthyearexp" placeholder="fecha de expiracion">
                <input type="number" [ngClass]="{'sub nsecode f4':true,'error':primererror && this.forma.controls.secode.invalid}" formControlName="secode" placeholder="código de seguridad">
                <input type="text" [ngClass]="{'titular f5':true,'error':primererror && this.forma.controls.propietary.invalid}" formControlName="propietary" placeholder="titular de la tarjeta">
            </div>

            <div class="countryzipform">
                <div class="item">
                    <label for="country">País<img class="minimg" src="{{bandera}}"></label>
                    <select formControlName="country" #t (change)="returnflag(t.value)" [ngClass]="{'f6':true,'error':primererror && this.forma.controls.country.invalid}"><option class="opt" class="opt" *ngFor="let x of countrydata" value="{{x.nombre}}">{{x.nombre}}</option></select>
                </div>
                <div class="item"><label for="zip">Código postal</label><input type="text" [ngClass]="{'czright f7':true,'error':primererror && this.forma.controls.zip.invalid}" formControlName="zip"></div>
            </div>

            <div class="errores" *ngIf="primererror" >
                <p *ngIf="forma.get('email')?.invalid"><i class="fas fa-at"></i>El correo no es correcto</p>
                <p *ngIf="forma.get('creditcard')?.invalid"><i class="fas fa-money-check-alt"></i>Los datos bancarios no son correctos</p>
                <p *ngIf="forma.get('country')?.invalid"><i class="fas fa-globe"></i>No ha seleccionado ningun país</p>
                <p *ngIf="forma.get('zip')?.invalid"><i class="far fa-envelope"></i>No ha introducido ningun código postal</p>
            </div>

            <div class="payform">
                <button [ngStyle]="{'color':(forma.valid) ? 'white' : 'darkgrey'}" (click)="checkform()">Pagar 899.00 $</button>
            </div>
            
        </form>
        
    </div>
    <div class="pbr">
        <p>Powered by : </p><img src="../assets/redsys.png" alt=""><a href="/">Terms</a><a href="/">Privacy</a>
    </div>
</div>
