<div class="formcompra">
    <div class="applepay">Apple pay ipsum dolor</div>
    <div class="tarjetadiv" ><p>O paga con tarjeta</p></div>
    <div class="formulario">
        <form [formGroup]="forma">
            
            <div class="correoform"><label for="email">Correo electrónico</label><input type="text" formControlName="email"></div>

            <div class="tarjetaform">
                <label for="">Datos bancarios</label><input class="ncard" type="text" formControlName="ncard" placeholder="número de tarjeta" >
                <input type="text" class="sub nmye" formControlName="monthyearexp" placeholder="fecha de expiracion" >
                <input type="text" class="sub nsecode" formControlName="secode" placeholder="código de seguridad" >
                <input type="text" class="titular" formControlName="propietary" placeholder="titular de la tarjeta" >
            </div>

            <div class="countryzipform">
                <div class="item"><label for="country">País</label><input type="text" class="czleft"  formControlName="country"></div>
                <div class="item"><label for="zip">Código postal</label><input type="text" class="czright" formControlName="zip"></div>
            </div>
            

        </form>
    </div>
</div>
