.formcompra
    min-width: 100%
    min-height: 100%
    box-shadow: -12px 0px 10px -13px rgba(0,0,0,0.3)
    .tarjetadiv
        display: flex
        text-align: baseline
    .formulario
        display: flex
        justify-content: center
        align-items: center
        form
            max-width: 60%
        label,input
            min-width: 100%
        label
            font-weight: 700
        input
            padding: 10px
            border: 2px solid black
        .tarjetaform
            display: flex
            justify-content: flex-start
            flex-wrap: wrap
            flex-direction: row
            .sub
                max-width: 50%
    
