<div class="articulo">
    <div class="sub">
        <div class="back"><a href="/"><i class="fas fa-arrow-left"></i></a>Back to the market</div>
        <div class="articulodata">
            <p class="item" >MacBook Pro - 2021</p>
            <p class="precio" >$ 899.00</p>
        </div>
        <div class="foto">
            <img src="assets/mcp16.jpeg">
        </div>
        <div class="features">
            <p class="entrada"><span class="dato">Procesador : </span><span class="info">M1 Pro 8 cores</span></p>
            <p class="entrada"><span class="dato">Disco duro : </span><span class="info">1TB</span></p>
            <p class="entrada"><span class="dato">RAM : </span><span class="info">32GB</span></p>
            <p class="entrada"><span class="dato">Pulgadas : </span><span class="info">16"</span></p>
        </div>
        <div class="pbr">
            <p>Powered by : </p><img src="assets/redsys.png" alt=""><a href="/">Terms</a><a href="/">Privacy</a>
        </div>
    </div>
</div>