<div class="articulo">
    <div class="sub">
        <div class="back"><a href="/"><i class="fas fa-arrow-left"></i></a>Back to the market</div>
        <div class="articulodata">
            <p class="item" >MacBook Pro - 2021</p>
            <p class="precio" >$ 899.00</p>
        </div>
        <div class="foto">
            <img src="../assets/mcp16.jpeg">
        </div>
        <div class="features">
            <p class="entrada"><span class="dato">Procesador: </span>M1 Pro 8 cores</p>
            <p class="entrada"><span class="dato">RAM: </span>16 GB</p>
            <p class="entrada"><span class="dato">Disco Duro: </span>1TB</p>
            <p class="entrada"><span class="dato">Pulgadas: </span>16"</p>
        </div>
    </div>
</div>